<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntdUI" version="1.8.1" targetFramework="net48" />
  <package id="log4net" version="3.0.3" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>